[Desktop Entry]
Name=Signal K Installer
Exec=openplotter-signalk-installer
Icon=openplotter-signalk-installer
StartupNotify=true
Terminal=false
Type=Application
Categories=OpenPlotter